{% extends "layout.twig" %}
{% set activeMainMenu = "control" %}
{% set activeSubMenu = "services" %}

{%  block head %}
    <title>SOARCE</title>
{%  endblock %}

{%  block header %}
    Control <small>// services</small>
{% endblock %}

{% block main %}

    <h4 class="mb-2 mt-4">Details of <strong>{{ service.serviceConfig.name }}</strong></h4>

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary card-outline collapsed-card">
            <div class="card-header">
                <h3 class="card-title"><strong>$_SERVER</strong> [{{ service.details.server | length }}]</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table id="filesTable" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>key</th>
                            <th>value</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for key, value in service.details.server %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>
                                {% if value is iterable %}
                                    {{ value | json_encode(constant('JSON_PRETTY_PRINT'))}}
                                {% else %}
                                    {{ value }}
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>---</td>
                            <td>no values received</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>key</th>
                            <th>value</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        <div class="card card-primary card-outline collapsed-card">
            <div class="card-header">
                <h3 class="card-title"><strong>$_ENV</strong> [{{ service.details.env | length }}]</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table id="filesTable" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>key</th>
                            <th>value</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for key, value in service.details.env %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>
                                {% if value is iterable %}
                                    {{ value | json_encode(constant('JSON_PRETTY_PRINT'))}}
                                {% else %}
                                    {{ value }}
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>---</td>
                            <td>no values received</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>key</th>
                        <th>value</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary card-outline collapsed-card">
            <div class="card-header">
                <h3 class="card-title"><strong>Extensions</strong> [{{ service.details.extensions | length }}]</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table id="filesTable" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>extension</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for value in service.details.extensions %}
                        <tr>
                            <td>
                                {% if value is iterable %}
                                    {{ value | json_encode(constant('JSON_PRETTY_PRINT'))}}
                                {% else %}
                                    {{ value }}
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>no values received</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>extension</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card card-primary card-outline collapsed-card">
            <div class="card-header">
                <h3 class="card-title"><strong>Ini Settings</strong> [{{ service.details.ini_settings | length }}]</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table id="filesTable" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>key</th>
                            <th>value</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for key, value in service.details.ini_settings %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>
                                {% if value is iterable %}
                                    {{ value | json_encode(constant('JSON_PRETTY_PRINT'))}}
                                {% else %}
                                    {{ value }}
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>---</td>
                            <td>no values received</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>key</th>
                            <th>value</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
