{% extends "layout.twig" %}
{% set activeMainMenu = "control" %}
{% set activeSubMenu = "control-usecases" %}

{%  block head %}
    <title>SOARCE</title>
{%  endblock %}

{%  block header %}
    Control <small>// Usecases</small>
{% endblock %}

{% block main %}

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Control Usecases Manually</h3>
        </div>
        <div class="box-body with-border">
            <table id="filesTable" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>requests</th>
                        <th>active</th>
                        <th>created</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for usecase in usecases %}
                    <tr>
                        <th>{{ usecase.id }}</th>
                        <td>{{ usecase.name }}</td>
                        <td style="text-align: right;">{{ usecase.requests }}</td>
                        <td>{% if usecase.active %}yes{% else %}no{% endif %}</td>
                        <td>{{ usecase.created | date('Y-m-d H:i:s') }}</td>
                        <td>
                            <form action="/control/usecases/{{ usecase.id }}" method="post">
                                <div class="btn-group">
                                    <button type="submit" name="action" value="activate"  class="btn btn-sm btn-default btn-success {% if usecase.active %}disabled"  disabled="disabled{% endif %}"><i class="fa fa-play"></i> activate</button>
                                    <button type="button" data-toggle="modal" data-target="#restartModal"  data-formaction="/control/usecases/{{ usecase.id }}" class="btn btn-sm btn-default btn-warning"><i class="fa fa-refresh"></i> restart</button>
                                    <button type="button" data-toggle="modal" data-target="#deleteModal"   data-formaction="/control/usecases/{{ usecase.id }}" class="btn btn-sm btn-default btn-danger" ><i class="fa fa-trash"></i> delete</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="box-footer with-border">
            <i class="fa fa-refresh"></i><strong> Restart</strong> will delete all requests and their data<br>
            <i class="fa fa-trash"></i><strong> Delete</strong>    will delete the usecase as well
        </div>
    </div>

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Create New Usecase</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <form method="post" action="/control/usecases">
                        <div class="input-group input-group-sm">
                            <input type="text" name="usecase" class="form-control" placeholder="Name for new Usecase">
                            <span class="input-group-btn">
                              <button type="submit" name="action" value="create" class="btn btn-info btn-flat">Create</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block pageEnd %}
{% include "modal.twig" with {
    'type':        'warning',
    'modalId':     'restartModal',
    'title':       'Restart Usecase',
    'message':     'Do you really want to restart the usecase? This will delete all the data of the usecase.',
    'actionLabel': '<i class="fa fa-refresh"></i> restart',
    'actionName':  'action',
    'actionValue': 'restart',
} %}

{% include "modal.twig" with {
    'type':        'danger',
    'modalId':     'deleteModal',
    'title':       'Delete Usecase',
    'message':     'Do you really want to restart the usecase? This will delete all the data of the usecase and the usecase itself.',
    'actionLabel': '<i class="fa fa-trash"></i> delete',
    'actionName':  'action',
    'actionValue': 'delete',
} %}
{% endblock %}
