{% extends "layout.twig" %}

{%  block head %}
    <title>SOARCE</title>
{%  endblock %}

{%  block header %}
    Request <small>// sequence diagram</small>
{% endblock %}

{% block main %}

    <h4>Sequence diagram of "{{ originalRequest.request_id }}"</h4>

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Details</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <table id="filesTable" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>key</th>
                    <th>value</th>
                </tr>
                </thead>
                <tbody>
                    <tr><td>application</td><td>{{ originalRequest.applicationName }}</td></tr>
                    <tr><td>usecase</td>    <td>{{ originalRequest.usecaseName }}</td></tr>
                    <tr><td>request</td>    <td>{{ originalRequest.request_id }}</td></tr>
                    <tr><td>time</td>       <td>{{ originalRequest.request_started }}</td></tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="box collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title">Get ({{ request.get|length }})</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <table id="filesTable" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>key</th>
                    <th>value</th>
                </tr>
                </thead>
                <tbody>
                {% for key, value in request.get %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>
                            {% if value is iterable %}
                                {{ value | json_encode(constant('JSON_PRETTY_PRINT'))}}
                            {% else %}
                                {{ value }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>key</th>
                    <th>value</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>


{% endblock %}
