{% extends "layout.twig" %}

{%  block head %}
    <title>SOARCE</title>
{%  endblock %}

{%  block header %}
    Request <small>// sequence diagram</small>
{% endblock %}

{% block main %}

    <h4>Sequence diagram of "{{ originalRequest.request_id }}"</h4>

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Details</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <table id="filesTable" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>key</th>
                    <th>value</th>
                </tr>
                </thead>
                <tbody>
                    <tr><td>application</td><td>{{ originalRequest.applicationName }}</td></tr>
                    <tr><td>usecase</td>    <td>{{ originalRequest.usecaseName }}</td></tr>
                    <tr><td>request</td>    <td>{{ originalRequest.request_id }}</td></tr>
                    <tr><td>time</td>       <td>{{ originalRequest.request_started }}</td></tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Sequence of ({{ requests|length }}) requests</h3>
        </div>
        <div class="box-body">
            <table id="filesTable" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="1">v Requests \ Applications &gt;</th>
                        <th colspan="2" style="text-align: center;">Client (0)</th>
                        {% for key, application in applications %}
                            <th colspan="2" style="text-align: center;">{{ application }} ({{ key }})</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% set maxCol = max(colPositions) %}
                {% for key, request in sequence.flatList %}
                    {% set parentApplicationId = 0 %}
                    {% if request.parent %}{% set parentApplicationId = request.parent.applicationId %}{% endif %}

                    <tr>
                        <td>{{ key }}</td>
                        {% for colNum in range(0, maxCol) %}
                            {% if colNum is not divisible by(2) %}
                                {% if colNum == colPositions[parentApplicationId] %}
                                    {% set startCol = colNum %}
                                    <td><div style="border-left: solid 1px black;">----------</div></td>
                                {% elseif colNum == colPositions[request.applicationId] %}
                                    {% set endCol = colNum %}
                                    <td><div style="border-left: solid 1px black;">&nbsp;</div></td>
                                {% else %}
                                    <td><div style="border-left: dotted 1px black;">&nbsp;</div></td>
                                {% endif %}
                            {% elseif (colNum+1) == colPositions[request.applicationId] %}
                                <td style="text-align: right">----------&gt;</td>
                            {% else %}
                                <td>&nbsp;</td>
                            {% endif %}
                        {% endfor %}
                    </tr>


                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>^ Requests / Applications &gt;</th>
                    <th colspan="2" style="text-align: center;">Client (0)</th>
                    {% for key, application in applications %}
                        <th colspan="2" style="text-align: center;">{{ application }} ({{ key }})</th>
                    {% endfor %}
                </tr>
                </tfoot>
            </table>
        </div>
    </div>


{% endblock %}
