{% extends "layout.twig" %}
{% import 'controls.twig' as controls %}

{% set activeMainMenu = "traces" %}
{% set activeSubMenu = "calls" %}

{%  block head %}
    <title>SOARCE</title>
{%  endblock %}

{%  block header %}
    Trace Function Calls
{% endblock %}

{% block main %}

    <p>The list can be filtered with the following controls:</p>

    {% embed "filterbox.twig" %}
        {% block filters %}
            {% import 'controls.twig' as controls %}
            <div class="form-group">
                <label for="">Application:</label>
                {{ controls.select('applicationId', applicationIds, applications) }}
            </div>
            <div class="form-group">
                <label for="">Usecases:</label>
                {{ controls.select('usecaseId',     usecaseIds,     usecases) }}
            </div>
            <div class="form-group">
                <label for="">Requests:</label>
                {{ controls.select('requestId',     requestIds,     requests) }}
            </div>
            <div class="form-group">
                <label for="">Originating File:</label>
                {{ controls.select('fileId',        fileIds,        files) }}
            </div>
        {% endblock %}
        {% block buttons %}
            <div class="btn-group">
                <a href="/" class="btn btn-default"><i class="fa fa-angle-left"></i> back</a>
                <button type="submit" value="update" name="whatever" class="btn btn-primary"><i class="fa fa-sync"></i> update</button>
            </div>
        {% endblock %}
    {% endembed %}

<div class="row">
    <div class="col-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Filtered Function Calls</h3>
            </div>
            <div class="card-body">
            <table id="filesTable" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>class / none</th>
                        <th>function / method</th>
                        <th>type</th>
                        <th>calls</th>
                        <th>walltime (seconds)</th>
                        <th style="width: 130px;">actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for call in functionCalls %}
                    <tr>
                        <td>{{ call.class }}</td>
                        <td>{{ call.function }}</td>
                        <td>{{ call.type }}</td>
                        <td style="text-align: right">{{ call.calls }}</td>
                        <td style="text-align: right"><span title="{{ call.walltime|number_format(9) }}">{{ call.walltime|number_format(3) }}</span></td>
                        <td>
                            <div class="btn-group">
                                {% set dataUrl = {'applicationId':applicationIds, 'usecaseId':usecaseIds, 'requestId':requestIds, 'fileId':fileIds, 'class':call.class, 'function':call.function}|url_encode %}
                                <button type="button" data-toggle="modal" data-target="#callercalleeModal" data-url="/trace/calls/from?{{ dataUrl }}" data-title="Callers" class="btn btn-xs btn-default btn-success"><i class="fa fa-outdent"></i> called from</button>
                                <button type="button" data-toggle="modal" data-target="#callercalleeModal" data-url="/trace/calls/to?{{ dataUrl }}"   data-title="Callees" class="btn btn-xs btn-default btn-primary"><i class="fa fa-indent"></i> calls</button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>class / none</th>
                        <th>function / method</th>
                        <th>type</th>
                        <th>calls</th>
                        <th>walltime (seconds)</th>
                        <th>actions</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    </div>
</div>

{% endblock %}

{% block pageEnd %}
    <script>
        $(function () {
            $('#filesTable').DataTable({
                'paging'      : true,
                'pageLength'  : 25,
                'lengthChange': true,
                "lengthMenu": [ 10, 25, 50, 100, 250 ],
                'searching'   : true,
                'ordering'    : true,
                'info'        : true,
                'autoWidth'   : true
            });

            $('.select2').select2();
        })
    </script>

    {% include "trace/modal.twig" with {
        'type':        'warning',
        'title':       'Restart Usecase',
        'message':     'Do you really want to restart the usecase? This will delete all the data of the usecase.',
        'actionLabel': '<i class="fa fa-refresh"></i> restart',
        'actionName':  'action',
        'actionValue': 'restart',
    } %}

{% endblock %}
