{% extends "layout.twig" %}
{% set activeMainMenu = "coverage" %}

{% import 'controls.twig' as controls %}

{%  block head %}
    <title>SOARCE</title>
    <script lang="javascript" src="/coverage.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=php&lang=js&autorun=true"></script>
    <script src="/coverage.js"></script>
    <link rel="stylesheet" href="/coverage.css">
{%  endblock %}

{%  block header %}
    Coverage
    <small>{{ file.filename }}</small>
{% endblock %}

{% block main %}

    {% embed "filterbox.twig" %}
        {% block filters %}
            {% import 'controls.twig' as controls %}
            <div class="form-group">
                <label for="">Usecases:</label>
                {{ controls.select('usecaseId',     usecaseIds,     usecases) }}
            </div>
            <div class="form-group">
                <label for="">Requests:</label>
                {{ controls.select('requestId',     requestIds,     requests) }}
            </div>
        {% endblock %}
        {% block buttons %}
            <div class="btn-group">
                <a href="/coverage?{{ {'applicationId': applicationIds, 'usecaseId': usecaseIds, 'requestId': requestIds}|url_encode }}" class="btn btn-default"><i class="fa fa-angle-left"></i> back</a>
                <button type="submit" value="update" name="whatever" class="btn btn-primary"><i class="fa fa-refresh"></i> update</button>
            </div>
        {% endblock %}
    {% endembed %}

    {% if file.md5 != source.md5 %}
        <div class="callout callout-danger">
            <h4>CAUTION!</h4>
            <p>File content might have changed, coverage might be off.</p>
            <dt>stored</dt>
            <dd>{{ file.md5 }}</dd>
            <dt>actual</dt>
            <dd>{{ source.md5 }}</dd>
        </div>
    {% endif %}

    <div class="coverage">
        <pre class="prettyprint linenums">{% for nr, line in source.lines %}
<div class="loc {% if coverage[nr+1] == 1 %}loc-covered{% elseif coverage[nr+1] < 0 %}loc-uncovered{% endif %}" onclick="showRequestsAndUsecases(this)" data-line="{{ nr+1 }}" data-file="{{ fileId }}">&nbsp;{{ line | escape | replace({"\n":'', "\r":'', "\t":'&nbsp;&nbsp;&nbsp;&nbsp;', " ":'&nbsp;'})|raw }}</div>
{% endfor %}
        </pre>
    </div>

    <div id="coverageRequestsAndUsecases"></div>
{% endblock %}

{% block pageEnd %}
    <script>
        $(function () {
            $('.select2').select2();
        })
    </script>

{% endblock %}
