{% extends "layout.twig" %}

{%  block head %}
    <title>SOARCE</title>
{%  endblock %}

{%  block header %}
    Coverage Analysis
{% endblock %}

{% block main %}


    <p>See below a list of files in which at least one line was executed. Click on a link to open the detail view of the code.
        The list can be filtered with the following controls:</p>

    {% embed "filterbox.twig" %}
        {% block filters %}
        {% import 'controls.twig' as controls %}
        <div class="form-group">
            <label for="">Application:</label>
            {{ controls.select('applicationId', applicationIds, applications) }}
        </div>
        <div class="form-group">
            <label for="">Usecases:</label>
            {{ controls.select('usecaseId',     usecaseIds,     usecases) }}
        </div>
        <div class="form-group">
            <label for="">Requests:</label>
            {{ controls.select('requestId',     requestIds,     requests) }}
        </div>
        <div class="form-group">
            <div class="btn-group">
                <a href="/" class="btn btn-default"><i class="fa fa-angle-left"></i> back</a>
                <button type="submit" value="update" name="whatever" class="btn btn-default btn-primary"><i class="fa fa-refresh"></i> update</button>
            </div>
        </div>
        {% endblock %}
    {% endembed %}

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Files</h3>
        </div>
        <div class="box-body">
            <table id="filesTable" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>application</th>
                        <th>file</th>
                        <th>lines covered</th>
                    </tr>
                </thead>
                <tbody>
                {% for file in files %}
                    <tr>
                        <td>{{ file.applicationName }}</td>
                        <td>
                            <a href="/coverage/file/{{ file.fileId }}?{{ {'applicationId': applicationIds, 'usecaseId': usecaseIds, 'requestId': requestIds}|url_encode }}">
                                {{ file.fileName | stripCommonPath(services[file.applicationName].commonPath) }}
                            </a>
                        </td>
                        <td style="text-align: right">{{ file.lines }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>application</th>
                        <th>file</th>
                        <th>lines covered</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

{% endblock %}

{% block pageEnd %}
    <script>
        $(function () {
            $('#filesTable').DataTable({
                'paging'      : true,
                'pageLength'  : 25,
                'lengthChange': true,
                "lengthMenu": [ 10, 25, 50, 100, 250 ],
                'searching'   : true,
                'ordering'    : true,
                'info'        : true,
                'autoWidth'   : true
            });

            $('.select2').select2();
        })
    </script>
{% endblock %}
