{% extends "layout.twig" %}

{% set activeMainMenu = "coverage" %}


{%  block head %}
    <title>SOARCE</title>
{%  endblock %}

{%  block header %}
    Applications
{% endblock %}

{% block main %}


    <p>All applications with coverage including some highlevel stats:</p>

<div class="row">
    <div class="col-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Files</h3>
            </div>
            <div class="card-body">
                <table id="filesTable" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>application</th>
                            <th>files</th>
                            <th>coverable lines</th>
                            <th>lines covered</th>
                            <th>coverage %</th>
                            <th>export</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for application in applications %}
                        {% if application.total_lines != 0 %}
                            {% set percentage = application.total_covered / application.total_lines %}
                        {% else %}
                            {% set percentage = 0 %}
                        {% endif %}

                        {% if percentage < 0.5 %}
                            {% set color = "red" %}
                        {% elseif percentage < 0.75 %}
                            {% set color = "yellow" %}
                        {% else %}
                            {% set color = "green" %}
                        {% endif %}

                        <tr>
                            <td>{{ application.id }}</td>
                            <td>
                                <a href="/coverage/files?applicationId[]={{ application.id }}">{{ application.name }}</a>
                            </td>
                            <td style="text-align: right">{{ application.files }}</td>
                            <td style="text-align: right">{{ application.total_lines }}</td>
                            <td style="text-align: right">{{ application.total_covered }}</td>
                            <td style="text-align: center"><span class="badge bg-{{ color }}">{{ (percentage * 100)|number_format }}%</span></td>
                            <td>
                                <a href="/coverage/export/{{ application.id }}">export</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>id</th>
                            <th>application</th>
                            <th>files</th>
                            <th>coverable lines</th>
                            <th>lines covered</th>
                            <th>coverage %</th>
                            <th>export</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block pageEnd %}
    <script>
        $(function () {
            $('#filesTable').DataTable({
                'paging'      : true,
                'pageLength'  : 25,
                'lengthChange': true,
                "lengthMenu": [ 10, 25, 50, 100, 250 ],
                'searching'   : true,
                'ordering'    : true,
                'info'        : true,
                'autoWidth'   : true
            });

            $('.select2').select2();
        })
    </script>
{% endblock %}
