{% extends "layout.twig" %}

{%  block head %}
    <title>SOARCE</title>
{%  endblock %}

{%  block header %}
    <h2>Welcome</h2>
{% endblock %}

{% block main %}

    <h3>Coverage</h3>
    <p>See below a list of files in which at least one line was executed. Click on a link to open the detail view of the code.
        The list can be filtered with the following controls:</p>

    <h3>Filters</h3>
    <form method="get" action="">
        <ul>
            <li>Application: {{ _self.select('applicationId', applicationId, applications) }}</li>
            <li>Usecases:    {{ _self.select('usecaseId',     usecaseId,     usecases) }}</li>
            <li>Requests:    {{ _self.select('requestId',     requestId,     requests) }}</li>
            <li>update:      <input type="submit" name="nothing" value="update"></li>
        </ul>
    </form>

    <h3>Files</h3>
    <table>
        <thead>
            <tr>
                <th>application</th>
                <th>file</th>
                <th>lines covered</th>
            </tr>
        </thead>
        <tbody>
        {% for file in files %}
            <tr>
                <td>{{ file.applicationName }}</td>
                <td>{{ file.fileName | stripCommonPath(services[file.applicationName].commonPath) }}</td>
                <td>{{ file.lines }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}



{% macro select(name, current, list) %}
    <select name="{{ name }}">
        <option value="">please choose</option>
        {% for id, row in list %}
            {% if id == current %}
                <option value="{{ id }}" selected="selected">{{ row.name }}</option>
            {% else %}
                <option value="{{ id }}">{{ row.name }}</option>
            {% endif %}
        {% endfor %}
    </select>
{% endmacro %}