{% extends "layout.twig" %}

{% set activeMainMenu = "home" %}

{%  block head %}
    <title>SOARCE</title>
{%  endblock %}

{%  block header %}
    SOARCE
    <small>// the coverage orchestrator and analyzer application.</small>
{% endblock %}

{% block main %}

    <div class="row">
    {% if configIsValid %}
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>Config</h3>
                    <p>valid</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="/control/services" class="small-box-footer">Control Services <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    {% else %}
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>Config</h3>
                    <p>invalid: {{ configErrorMessage }}</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="/control/services" class="small-box-footer">Control Services <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    {% endif %}
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">MySQL Tables</h3>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Table</th>
                                <th style="text-align: right;">Records</th>
                                <th style="width: 100px; text-align: right;">%</th>
                                <th style="text-align: right;">Size</th>
                                <th style="width: 100px; text-align: right;">%</th>
                                <th style="text-align: right;">Next Autoindex</th>
                                <th style="width: 100px; text-align: right;">%</th>
                                <th style="text-align: right;">Index Usage</th>
                                <th style="width: 100px; text-align: right;">%</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% set maxRows          = max(1, max(DatabaseStatistics|column('TABLE_ROWS'))) %}
                        {% set maxLength        = max(1, max(DatabaseStatistics|column('TOTAL_LENGTH'))) %}
                        {% set maxAutoIncrement = max(1, max(DatabaseStatistics|column('AUTO_INCREMENT'))) %}

                        {% for id,table in DatabaseStatistics %}
                            <tr>
                                <td>{{ id + 1 }}</td>
                                <td>{{ table.TABLE_NAME }}</td>
                                <td style="text-align: right;">{{ table.TABLE_ROWS }}</td>
                                <td>
                                    <div class="progress progress-xs progress-striped">
                                        <div class="progress-bar" style="width: {{ (table.TABLE_ROWS/maxRows * 100)|number_format(2, '.', '') }}%"></div>
                                    </div>
                                </td>
                                <td style="text-align: right;">{{ table.TOTAL_LENGTH|byte }}</td>
                                <td>
                                    <div class="progress progress-xs progress-striped">
                                        <div class="progress-bar" style="width: {{ (table.TOTAL_LENGTH/maxLength * 100)|number_format(2, '.', '') }}%"></div>
                                    </div>
                                </td>
                                <td style="text-align: right;">{{ table.AUTO_INCREMENT }}</td>
                                <td>
                                    <div class="progress progress-xs progress-striped">
                                        <div class="progress-bar"
                                             style="width: {{ (table.AUTO_INCREMENT/maxAutoIncrement * 100)|number_format(2, '.', '') }}%"></div>
                                    </div>
                                </td>
                                <td style="text-align: right;">{{ (table.INDEX_PERCENTAGE*100)|number_format(6, '.', ',') }} %</td>
                                <td>
                                    <div class="progress progress-xs progress-striped">
                                        <div class="progress-bar progress-bar-danger"
                                             style="width: {{ (table.INDEX_PERCENTAGE*100)|number_format(2, '.', '') }}%"></div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
