{% extends "layout.twig" %}

{%  block head %}
    <title>SOARCE</title>
{%  endblock %}

{%  block header %}
    SOARCE
    <small>// the coverage orchestrator and analyzer application.</small>
{% endblock %}

{% block main %}

    <div class="row">
    {% if configIsValid %}
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>Config</h3>
                    <p>valid</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="/control/services" class="small-box-footer">Control Services <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    {% else %}
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>Config</h3>
                    <p>invalid: {{ configErrorMessage }}</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="/control/services" class="small-box-footer">Control Services <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    {% endif %}
    </div>

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">MySQL Tables</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Table</th>
                        <th style="text-align: right;">Records</th>
                        <th style="text-align: right;">Size</th>
                        <th style="text-align: right;">Next Autoindex</th>
                        <th>Index Usage</th>
                        <th style="width: 150px;">%</th>
                    </tr>
                </thead>
                <tbody>
                    {% for id,table in DatabaseStatistics %}
                    <tr>
                        <td>{{ id + 1 }}</td>
                        <td>{{ table.TABLE_NAME }}</td>
                        <td style="text-align: right;">{{ table.TABLE_ROWS }}</td>
                        <td style="text-align: right;">{{ (table.DATA_LENGTH + table.INDEX_LENGTH)|byte }}</td>
                        <td style="text-align: right;">{{ table.AUTO_INCREMENT }}</td>
                        <td>{{ (table.INDEX_PERCENTAGE*100)|number_format(6, '.', ',') }} %</td>
                        <td>
                            <div class="progress progress-xs">
                                <div class="progress-bar" style="width: {{ (table.INDEX_PERCENTAGE*100)|number_format(2, '.', '') }} %"></div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
