{% extends "layout.twig" %}
{% set activeMainMenu = "maintenance" %}
{%  block head %}
    <title>SOARCE</title>
{%  endblock %}

{%  block header %}
    Database Maintenance
{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-12">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">MySQL Tables</h3>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Table</th>
                            <th style="text-align: right;">Records</th>
                            <th style="width: 100px; text-align: right;">%</th>
                            <th style="text-align: right;">Size</th>
                            <th style="width: 100px; text-align: right;">%</th>
                            <th style="text-align: right;">Next Autoindex</th>
                            <th style="width: 100px; text-align: right;">%</th>
                            <th style="text-align: right;">Index Usage</th>
                            <th style="width: 100px; text-align: right;">%</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set maxRows          = max(1, max(DatabaseStatistics|column('TABLE_ROWS'))) %}
                        {% set maxLength        = max(1, max(DatabaseStatistics|column('TOTAL_LENGTH'))) %}
                        {% set maxAutoIncrement = max(1, max(DatabaseStatistics|column('AUTO_INCREMENT'))) %}
                        {% set id = 0 %}

                        {% for table in DatabaseStatistics %}
                            {% set id = id + 1 %}
                            <tr>
                                <td>{{ id }}</td>
                                <td>{{ table.TABLE_NAME }}</td>
                                <td style="text-align: right;">{{ table.TABLE_ROWS|format_number({grouping_used:true}, locale: 'en') }}</td>
                                <td>
                                    <div class="progress progress-xs progress-striped">
                                        <div class="progress-bar" style="width: {{ (table.TABLE_ROWS/maxRows * 100)|number_format(2, '.', '') }}%"></div>
                                    </div>
                                </td>
                                <td style="text-align: right;">{{ table.TOTAL_LENGTH|byte }}</td>
                                <td>
                                    <div class="progress progress-xs progress-striped">
                                        <div class="progress-bar" style="width: {{ (table.TOTAL_LENGTH/maxLength * 100)|number_format(2, '.', '') }}%"></div>
                                    </div>
                                </td>
                                <td style="text-align: right;">{{ table.AUTO_INCREMENT|format_number({grouping_used:true}, locale: 'en') }}</td>
                                <td>
                                    <div class="progress progress-xs progress-striped">
                                        <div class="progress-bar"
                                             style="width: {{ (table.AUTO_INCREMENT/maxAutoIncrement * 100)|number_format(2, '.', '') }}%"></div>
                                    </div>
                                </td>
                                <td style="text-align: right;">{{ (table.INDEX_PERCENTAGE*100)|number_format(6, '.', ',') }} %</td>
                                <td>
                                    <div class="progress progress-xs progress-striped">
                                        <div class="progress-bar progress-bar-danger"
                                             style="width: {{ (table.INDEX_PERCENTAGE*100)|number_format(2, '.', '') }}%"></div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th style="width: 10px">-</th>
                            <th>Table</th>
                            <th style="text-align: right;">{{ DatabaseStatistics | column("TABLE_ROWS") | sum | format_number({grouping_used:true}, locale: 'en') }}</th>
                            <th style="width: 100px; text-align: right;">%</th>
                            <th style="text-align: right;">{{ DatabaseStatistics | column("TOTAL_LENGTH") | sum | byte }}</th>
                            <th style="width: 100px; text-align: right;">%</th>
                            <th style="text-align: right;">-</th>
                            <th style="width: 100px; text-align: right;">%</th>
                            <th style="text-align: right;">-</th>
                            <th style="width: 100px; text-align: right;">%</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
    <div class="col-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Database Maintenance</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <form method="post">
                            <div class="btn-group">
                                <button class="btn btn-lrg btn-danger" type="button" data-formaction="" data-toggle="modal" data-target="#truncateModal"><i class="fa fa-trash"></i> truncate</button>
                                <button class="btn btn-lrg btn-info"   type="submit" name="action" value="reset autoincrement"><i class="fa fa-undo"></i> reset autoincrement</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block pageEnd %}
    {% include "modal.twig" with {
        'type':        'danger',
        'modalId':     'truncateModal',
        'title':       'Truncate All Tables',
        'message':     'Do you really want to truncate the database? It will delete all data.',
        'actionLabel': '<i class="fa fa-trash"></i> truncate',
        'actionName':  'action',
        'actionValue': 'truncate',
    } %}
{% endblock %}
